@model IEnumerable<Project.Models.Film>

@foreach (var i in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="@i.FilmIMG">
                <div class="ep">@i.FilmEP</div>
                <div class="comment"><i class="fa fa-comments"></i> @i.FilmView</div>
                <div class="view"><i class="fa fa-eye"></i> @i.FilmView</div>
            </div>
            <div class="product__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">@i.FilmName</a></h5>
            </div>
        </div>
    </div>
}


